body,
html {
  margin: 0px auto;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: rgb(241, 240, 248);
}

body {
  padding: 0px;
  width: 45%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

article {
  width: 80%;
  padding: 35px;
  margin-top: 10%;
}

h1 {
  color: rgb(40, 40, 40);
  width: 54%;
  padding: 20px 0px 7px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 29px;
}

h3 {
  color: #002544;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #002544;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
